<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="javascript"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
	crossorigin="anonymous"></script>
	
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>About Page</title>
</head>
<body class="about-page">
<div class="justify-content-center align-items-center d-flex vh-100">
<div class="card" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">E-Pharmacy</h5>
    <p class="card-text">E-Pharmacy is a consumer healthcare “super app” that provides consumers with on-demand, home delivered access to a wide range of prescription, OTC pharmaceutical, other consumer healthcare products, comprehensive diagnostic test services, and teleconsultations thereby serving their healthcare needs.</p>
  	<h5 class="card-title">Core Values of E-Pharmacy</h5>
    <p class="card-text">To further our vision and goals, we came up with the following core values. Our values are highly instrumental in deciding where we want to go and how we will get there.</p>
  </div>
</div>
</div>
</body>
</html>